jasperDelimiter=@jd@
jasperTitleSize=12
jasperTitleColor=#0066CC
jasperTitleFont=Helvetica-Bold
jasperSubTitleSize=10
jasperSubTitleColor=#000000
jasperSubTitleFont=Helvetica-Bold
jasperHeaderSize=8
jasperHeaderColor=#99CCFF
jasperHeaderFont=Helvetica-Bold
jasperSubHeaderSize=8
jasperSubHeaderColor=#BFE8F6
jasperSubHeaderFont=Helvetica
jasperDetailsSize=8
jasperFont=Arial
jasperFontPdf=ARIAL.TTF
jasperIsPdfEmbedded=true
jasperSubReportHeaderColor=#0066CC
jasperSubReportHeaderSize=10
jasperSubReportHeaderFont=Helvetica-Bold

