jasperDelimiter=@jd@
jasperTitleSize=8
old_jasperTitleSize=12
new_jasperTitleColor=#FFFFFF
jasperTitleColor=#0066CC
jasperTitleFont=Helvetica-Bold
jasperSubTitleSize=8
old_jasperSubTitleSize=10
new_jasperSubTitleColor=#FFFFFF
jasperSubTitleColor=#000000
jasperSubTitleFont=Helvetica-Bold
jasperHeaderSize=8
jasperHeaderForeColor=#FFFFFF
jasperHeaderColor=#999999
old_jasperHeaderColor=#99CCFF
jasperHeaderFont=Helvetica-Bold
jasperSubHeaderSize=8
jasperSubHeaderColor=#BFE8F6
jasperSubHeaderFont=Helvetica
jasperDetailsSize=8
jasperFont=Arial
jasperFontPdf=ARIAL.TTF
jasperIsPdfEmbedded=true
#_DEVELOP_GENERATE_FINAL_XML=true
#_DEVELOP_GENERATE_COMPILE_FILE=true
